/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace component "com.masuland.religionchooser.view.component.*";

.appTitle
{
	text-align: center;
	font-weight: bold;
	font-size: 15;
	color: #5D7693;
}

component|SettingsBoxCP
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sky.SettingsBox");
}

component|ContentBoxCP
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sky.ContentBox");
}

.settingsButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sky.SettingsButton");
}

.actionButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sky.ActionButton");
}

.moreButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sky.MoreButton");
}
