/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace component "com.masuland.religionchooser.view.component.*";

component|SettingsBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sun.SettingsBox");
}

component|ContentBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sun.ContentBox");
}

.settingsButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sun.SettingsButton");
}

.actionButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sun.ActionButton");
}

.moreButton
{
	skin-class: ClassReference("com.masuland.religionchooser.view.skin.web.sun.MoreButton");
}
