/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "com.masuland.religionchooser.view.*";

/*view|AppViewCB
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.AppView");
}*/

view|SettingsBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.SettingsBox");
}

view|ContentBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.ContentBox");
}

.settingsButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.SettingsButton");
}

.choiceButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.ChoiceButton");
}

.restartButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.web.sky.RestartButton");
}

.moreButton
{
	padding-left: 0;
	padding-right: 0;
	color: #464646;
	cornerRadius: 2;
	fontWeight: normal;
	textDecoration: underline;
	paddingBottom: 0;
	paddingTop: 0;
	horizontalGap: 0;
}
