/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace component "com.masuland.religionchooser.view.component.*";

component|SettingsBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.ui.web.sky.SettingsBox");
}

component|ContentBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.ui.web.sky.ContentBox");
}

.settingsButton
{
	skin-class: ClassReference("com.masuland.religionchooser.ui.web.sky.SettingsButton");
}

.actionButton
{
	skin-class: ClassReference("com.masuland.religionchooser.ui.web.sky.ActionButton");
}

.moreButton
{
	skin-class: ClassReference("com.masuland.religionchooser.ui.web.sky.MoreButton");
}
