
global
{
	theme-color: #D29910;
	color: #C74803;
}

AppStack
{
	backgroundAlpha: 0.7;
	
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #D29910;
	backgroundColor: #F5F2E2;
	
	cornerRadius: 10;
	
	dropShadowColor: #000000;
	dropShadowEnabled: true;
	shadowDirection: top;
	shadow-distance: 0;
}

.loginHeader
{
	text-align: left;
	text-indent: 5;
	font-weight: bold;
	font-size: 20;
}

.descriptor
{
	font-size: 17;
}

Button
{
	font-size: 15;
}

TextInput
{
	font-size: 17;
}

ComboBox
{
	font-size: 10;
}

HRule
{
	strokeColor: #D29910;
	
	dropShadowEnabled: true;
	shadowDirection: top;
	shadow-distance: 0;
}
