/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "com.masuland.religionchooser.view.*";

view|SettingsBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.SettingsBox");
}

view|ContentBoxCB
{
	skin-class: ClassReference("com.masuland.religionchooser.view.ContentBox");
}

.settingsButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.SettingsButton");
}

.choiceButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.ChoiceButton");
}

.restartButton
{
	skin-class: ClassReference("com.masuland.religionchooser.skin.RestartButton");
}
